<h1>Facebook Group Cloud</h1>
<h6>Generates a randomized wordcloud of your Facebook Group Names</h6>
<a href="javascript:history.go(0)"><h1>Randomly Generate</h1></a>
<script src=js/d3.layout.cloud.js></script>

<center>
<div id="cloud">
<script src="js/fb_d3_vis.js"></script>
</div>
<center>
