
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">

<style>
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 65px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton:hover {
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 65px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton2:hover {
	background-color:#1e62d0;
}
.myButton2:active {
	position:relative;
	top:1px;
}

body {
	background-image:url("http://www.tenforums.com/attachments/customization/7263d1413899414-wallpaper-dump-hdr-city-scape-new-york-city-big-apple-wallpaper-hd-widescreen.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}


</style>

<body>

	<div class="container">
    
		<div class="row">
			<center>
				<span style="font-family:Helvetica;font-size:90px;font-style:normal;font-weight:normal;text-decoration:none;text-transform:none;color:000000;">Social Media Visualizer</span>
			</center>
		</div>

		<div class="row">
			<div class="col-md-6">
				<center>
					<a href="/auth/instagram" class="myButton2">Login with Instagram</a>
				</center>
			</div>
			<div class="col-md-6">
				<center>
					<a class="myButton2" href="/auth/facebook">Login with Facebook</a>
				</center>
			</div>
		</div>
	</div>
</body>



